* {
    margin: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
}
#display {
    text-align: right;
    height: 20px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    font-size: 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.container {
    height: 400px;
    width: 250px;
    background-color: #79DAE8;
    padding: 20px;
    border-radius: 20px;
    margin-top: 13vh;
    margin-left: 39vw;
}
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.btn {
    background-color: white;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    border-radius: 50%;
    height: 50px;
    border: none;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}


box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
